table {
    background-color: #f5f5f5;
}

body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    background-image: url('back.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    backdrop-filter: blur(3px);
}

body {
    padding-top: 20px;
    padding-bottom: 20px;
}

.padd {
    color: white;
}

h1 {
    font-size: 3em;
}

button {
    background-color: #4CAF50;
        color: white;
    margin-top: 15px;
    font-size: 1.5em;
    padding: 12px 28px;
    border-radius: 30px;
    /* Rounded edges */
    border: none;
    cursor: pointer;
    font-weight: bold;
    transition: all 0.3s ease;
}

img {
    border-radius: 70%;
}

button:hover {
    opacity: 0.8;
}

#clear-button {
    background-color: red;
    color: white;
    border: none;
    padding: 10px 20px;
}

#clear-button:hover {
    background-color: darkred;
}
