table {
    background-color: #f5f5f5;
}

body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    background-image: url('back.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    backdrop-filter: blur(3px);
}

body {
    padding-top: 20px;
    padding-bottom: 20px;
}

.padd {
    color: white;
}

h1 {
    font-size: 3em;
}

button {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1.2em;
    margin-top: 15px;
    cursor: pointer;
}

img {
    border-radius: 70%;
}

button:hover {
    opacity: 0.8;
}

#clear-button {
    background-color: red;
    color: white;
    border: none;
    padding: 10px 20px;
}

#clear-button:hover {
    background-color: darkred;
}
